/*  FONT
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Code Pro', monospace;
*/
/*   COLORS
    background: var(--main-bg-color);
    dynamic-text #fff;
    keywords: var(--highlighted-color);

*/


*{
    margin: 0;
}

.main-title{
    font-size: 1.5em;
    color: #fff;
    text-align: left;
    margin-top: 10px;
    font-family: 'Source Code Pro', monospace;
    font-weight:500;
    font-size: 4vw;
    padding-left: 12%;
    padding-top: 10%;
    width: auto;
    margin-right: 5%;
}

.container-subtitle p{
    color: #fff;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 5vh;
    float: left;
    position: relative;
    padding-bottom: 1%;
}
.container-subtitle:nth-last-child(1) p{
    color: var(--highlighted-color);
}
/* CONTAINERS */
.container-title{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 69px - 50px);
}
.container-mid{
    width: 100%;
    display: grid;
    place-items: left;
    padding-left: 15%;
}
.container-subtitle{
    float: left;
    height: 100%;
    width: fit-content;
    height: auto;
    margin: 1em 0;
}
.container-subtitle p{
    text-align: left;
}

/* ---------------------- */



/* MEDIA QUERY*/

@media only screen and (max-width: 720px) {
    .container-subtitle p{
        font-size: 7vw;
    }
    .container-mid{
        padding-left: 5%;
    }
}



/* ---------------------- */

/* DYNAMIC TEXT*/
p.main-subtitle1::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    background-color: var(--main-bg-color);
    animation: 
        typing 1s steps(18) forwards;
}
p.main-subtitle2::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    background-color: var(--main-bg-color);
    animation: 
        typing 1s steps(20) forwards;
    animation-delay: 1.2s;
}
p.main-subtitle3::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    background-color: var(--main-bg-color);
    animation: 
        typing 1s steps(19) forwards;
        animation-delay: 2.4s;
}
p.main-subtitle4::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    background-color: var(--main-bg-color);
    animation: 
        typing 1s steps(9) forwards;
        animation-delay: 3.6s;
}
@keyframes typing{
    99.9%{
        border-color: white;
    }
    100%{
        left: 100%;
        margin: 0 -15px 0 0px;
        border-color: var(--main-bg-color);
        width: 0%;
    }                                                                                                                                                                          
}
/* ---------------------- */



/* FORM */

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    min-height: calc(100vh - 69px - 69px);
    margin-bottom: calc(69px - 50px); /* push footer to the bottom */
}

.confirm{
    margin: 15px 0;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--highlighted-color);
    color: #fff;
    width:fit-content;
    height: 100%;
    border: none;
}

.confirm:active{
    background-color: var(--highlighted-color-active);
}

.inputs{
    width: 40%;
    padding: 0 0 13px 0;
}

.nomecognome{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nomecognome div{
    width: 50%;
}

.fname{
    padding-right: 10px;
}

.lname{
    padding-left: 10px;
}

.title{
    color: white;
}
/* Full-width input fields */
input{
    width: calc(100% - 30px);
    padding: 15px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    border: 1px solid #dadce0;
    background: #fff;
    height: 18px;
}

input:focus{
    outline-color: var(--highlighted-color);
    background-color: #fff;
}

.gender-select:focus{
    outline-color: var(--highlighted-color);
    background-color: #fff;
}

.inserted{
    background: #ddd;
}

@media only screen and (max-width: 850px){
    .inputs{
        width: 80%;
    }
}

label{
    color: #fff;
}

.psw-bar{
    position: relative;
} 

#PSWShowHideIcon{
    position: absolute;
    right: 5px;
    top: -2px; /* idk */
    height: 48px; /* input height + input padding */
    transform: translate(-50%, 50%);
    cursor: pointer;
}

.gender{
    display: flex;
    flex-direction: column;
}

.gender-select{
    width: 100%;
    padding: 15px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    border: 1px solid #dadce0;
    height: 50px;
    color: #000;
}

.gender-select:focus{
    outline-color: var(--highlighted-color);
    background-color: #fff;
}

.gender-select-placeholder{
    display: none;
}

/* ---------------------- */

/* DASHBOARD */

.firstTitle{
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 75px;
}
.dashboard{
    padding: 3% 7% 5% 7%;
    width: auto;
    color: white;
}
.dashboard a{
    text-decoration: none;
    color: white;
}
.dashboard a:hover{
    text-decoration: none;
    color: var(--highlighted-color);
}

.description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.sub-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.keywords{
    display: grid;
    grid-template-columns: min(80%, 500px) 20%;
    margin: 15px 0;
}

.keyword-input{
    max-width: min(100%, 500px);
}

.addButton{
    margin-top: 5px;
    margin-left: min(10%, 15px);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--highlighted-color);
    color: #fff;
    width:min(80%, 40px);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addButton:active{
    background-color: var(--highlighted-color-active);
}

.addButton i{
    padding: 7px;
}

.bigSection{
    margin: 50px 0;
}

.bigSectionTitle{
    margin-bottom: 25px;
}
.bigSectionTitle i{
    color: var(--highlighted-color);
}


.keywords-container{
    padding-left: 3%;
}

.keywords-info{
    margin: 4px 7px;
    border-left: 1px solid var(--highlighted-color);
}

.keywords-info li{
    padding: 4px 0;
    list-style: none;
}

@media only screen and (max-width: 1280px){
    .keywords-info li{
        list-style: disc;
    }
}

#maggioriInfo{
    cursor: pointer;
}

#maggioriInfo i{
    color: var(--highlighted-color);
}


#telegramCode{
    margin: 10px 0;
    color: var(--highlighted-color);
    font-family: 'Source Code Pro', monospace;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 5px 10px;
    width: fit-content;
    background-color: #111166;
}

.telegramCodeContainer{
    margin: 20px 0;
    cursor: pointer;
    width: fit-content;
}

.telegram-instruction{
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

#copied{
    margin-left: 5px;
    color: var(--highlighted-color);
    display: none;
    letter-spacing: 0.1em;
}
.caret {
	border-right: .05em solid;
	animation: caret 1s steps(1) infinite;
}
  
@keyframes caret {
	50% {
	  border-color: transparent;
	}
}


/* ---------------------- */
