<!DOCTYPE html>
<html lang="en">
<head>
  <title>404 - Pagina non trovata</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/IMG/favicon-black.ico">
  <link rel="stylesheet" type="text/css" href="/CSS/general.css">
  <style>
    body {
      background-color: var(--bgcolor);
    }

    .container {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      text-align: center;
    }

    a {
      color: var(--highlighted-color);
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }

    h1, h2{
      margin: 0;
    }
  </style>
</head>
<body>
  <div class="container">
        <h1>😮</h1>
        <h2>Oops! Pagina non trovata</h2>
        <p>Siamo spiacenti ma la pagina che cerchi non esiste.</p>
        <a href="/">Back to homepage</a>

        <a href="/"><img src="/IMG/favicon-white.png" alt="404" style="width: 100%; height: auto; max-width: 25px; bottom: min(100px, 15vh); position: fixed;"></a>

  </div>
</body>
</html>