<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../JS/hamburger.js" defer></script>
    <link rel="icon" type="image/x-icon" href="../IMG/favicon-black.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="../CSS/faq.css">
    <link rel="stylesheet" href="../CSS/custom.css">
    <link rel="stylesheet" href="../CSS/general.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/95ae55bd9a.js" crossorigin="anonymous"></script>
    <!-- jQuery 3.6.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<title>FAQ · Fermi Notify</title>
</head>
<body>
	<!-- NAVBAR -->
    <nav class="navbar">
        <div class="navbar-inner">
            <a class="logo" href="/">
                <img src="../IMG/logo-long-white-trasp.png">
            </a>
            <a href="#" class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </a>
            <div class="nav-links">
                <ul>
                    <li>
                        <a href="../dashboard" class="spanHighlight"><span>&gt;</span> Area Personale</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="faqcontainer">
        <h1 class="firstTitle">FAQ</h1>
        
        <div class="faqIndex">
            <div onclick="showElem(this)" id="generali" class="indexElem indexElemActive">
                Generali
            </div>
            <div onclick="showElem(this)" id="registrazione" class="indexElem">
                Registrazione
            </div>
            <div onclick="showElem(this)" id="configurazione" class="indexElem">
                Configurazione
            </div>
        </div>

        <div class="faqIndexMobile">
            <select id="faqIndex-select">
                <option value="generali" selected>Generali</option>
                <option value="registrazione">Registrazione</option>
                <option value="configurazione">Configurazione</option>
            </select>
        </div>

        <div id="generaliContainer" class="indexElemContainer indexElemShow">
            <div class="question">
                <h3 class="thirdTitle">1. Cos'&egrave; Fermi Notify?</h3>
                <p class="answer">
                    Fermi Notify &egrave; un servizio che ti permette di ricevere notifiche via email o via Telegram quando viene aggiunto un evento sul <a href="https://fermimn.edu.it/orari/calendar.php">calendario giornaliero</a>, come una sostituzione o un cambio aula.
                </p>
            </div>

            <div class="question">
                <h3 class="thirdTitle">2. Quando arrivano le notifiche?</h3>
                <p class="answer">
                    Nel caso in cui l'evento che ti riguarda venga pubblicato in qualsiasi momento prima del giorno stesso, ti arriver&agrave; una notifica che racchiude tutti gli eventi in programma alle <span class="highlighted-text">6:00</span> del giorno stesso.
                </p>
                <p class="answer answer-staccato">
                    Nel caso in cui l'evento che ti riguarda venga pubblicato dopo le 6:00 (come una sostituzione dell'ultimo minuto), riceverai la notifica <span class="highlighted-text">all'istante</span>.
                </p>
            </div>

            <div class="question">
                <h3 class="thirdTitle">3. A cosa servono i cookie?</h3>
                <p class="answer">
                    Il sito utilizza cookie tecnici per salvare il login per la sessione in corso. In questo modo non &egrave; necessario rieffettuare il login fino a quando non viene chiusa la sessione.
                </p>
            </div>
        </div>

        <div id="registrazioneContainer" class="indexElemContainer">
            <div class="question">
                <h3 class="thirdTitle">1. Come faccio a registrarmi?</h3>
                <p class="answer">Per registrarti clicca <a href="https://www.ferminotify.me/register">qui</a>. Se non hai gi&agrave; fatto il login, &egrave; possibile raggiungere la pagina di registrazione anche dall'<a href="https://www.ferminotify.me/login">Area Personale</a> e poi su <i>Registrati</i>.</p>
            </div>

            <div class="question">
                <h3 class="thirdTitle">2. Come viene protetta la password?</h3>
                <p class="answer">La password viene criptata attraverso un processo di hashing ricorsivi a un numero adeguato di round.</p>
            </div>
        </div>

        <div id="configurazioneContainer" class="indexElemContainer">
            <div class="question">
                <h3 class="thirdTitle">1. Cosa sono le keywords?</h3>
                <p class="answer">
                    Le <span class="highlighted-text">keywords</span> sono le parole chiave che inserisci nella tua lista per ricevere la notifica se &egrave; presente un evento che la riguarda nel calendario giornaliero.
                </p>
                <p class="answer answer-staccato">
                    Esempio: se aggiungi <code>4CIIN</code> come keyword, riceverai una notifica se nel calendario giornaliero &egrave; presente un evento che contiene la parola <i>4CIIN</i>.
                </p>
                <p class="answer answer-staccato">
                    Consiglio: aggiungi la tua <span class="highlighted-text">classe</span> per ricevere le notifiche riguardanti la classe (come una sostituzione o un cambio aula), puoi aggiungere anche:<br>
                    <ul style="line-height: 1.5em; ">
                        <li>il tuo <span class="highlighted-text">cognome</span> per le notifiche riguardanti solo te (come la prenotazione di un aula);</li>
                        <li>il nome di un <span class="highlighted-text">corso</span> che segui per le notifiche riguardanti le attivit&agrave; extrascolastiche.</li>
                    </ul>
                </p>
            </div>

            <div class="question">
                <h3 class="thirdTitle">2. Come aggiungo le keywords?</h3>
                <p class="answer">
                    Puoi aggiungere le keywords nella casella dedicata nella <a href="https://www.ferminotify.me/dashboard">Dashboard</a>. Una volta aggiunte, appariranno nella lista. Le keywords <span class="highlighted-text">non</span> sono case sensitive, quindi puoi aggiungerle in maiuscolo o minuscolo (4CIIN o 4Ciin o 4ciin non cambia).
                </p>
            </div>

            <div class="question">
                <h3 class="thirdTitle">3. Come rimuovo le keywords?</h3>
                <p class="answer">
                    Per rimuovere una keyword, <span class="highlighted-text">riscrivila</span> nella casella che hai utilizzato per aggiungerla nella <a href="https://www.ferminotify.me/dashboard">Dashboard</a>. Quindi la keyword verr&agrave; rimossa dalla lista.
                </p>
            </div>

            <div class="question">
                <h3 class="thirdTitle">4. Come funziona la notifica tramite Telegram?</h3>
                <p class="answer">
                    Puoi attivare la notificazione tramite un messaggio su Telegram in modo facoltativo. Invia il <span class="highlighted-text">codice</span> presente nella <a href="https://www.ferminotify.me/dashboard#Telegram">Dashboard</a> al bot <a href="https://t.me/FermiNotifierBot">@FermiNotifierBot</a> e oltre alla notfica tramite email, riceverai anche un messaggio su Telegram.
                </p>
            </div>
        </div>

    </div>

    <div class="emailButtonContainer">
        Per supporto o informazioni, contatta:
        <a href="mailto:master@ferminotify.me" class="emailButton">
            <i class="fa-solid fa-envelope"></i>
            master@ferminotify.me
        </a>
    </div>
	

	<div class="footer">
        <div>
            <a href="./faq" class="spanHighlight" style="padding-right: 1vw;"><span>&gt;</span> FAQ</a>
            <a href="./credits" class="spanHighlight"><span>&gt;</span> Credits</a>
        </div>
        <p>Questo sito utilizza cookie tecnici</p>
    </div>

    <script>
        // onclick indexElem add active and remove to the others
        const indexElem = document.querySelectorAll(".indexElem");
        indexElem.forEach(elem => {
            elem.addEventListener("click", () => {
                indexElem.forEach(elem => {
                    elem.classList.remove("indexElemActive");
                });
                elem.classList.add("indexElemActive");
            });
        });
    </script>

    <script>
        function showElem(elem) {
            const id = elem.id;
            const container = document.getElementById(id + "Container");
            const indexElemContainer = document.querySelectorAll(".indexElemContainer");
            indexElemContainer.forEach(elem => {
                elem.classList.remove("indexElemShow");
            });
            container.classList.add("indexElemShow");
        }
    </script>

    <script>
        // faqIndexMobile select
        var select = document.getElementById("faqIndex-select");
        function onChange() {
            var value = select.value;
            const container = document.getElementById(value + "Container");
            const indexElemContainer = document.querySelectorAll(".indexElemContainer");
            indexElemContainer.forEach(elem => {
                elem.classList.remove("indexElemShow");
            });
            container.classList.add("indexElemShow");
        }
        select.onchange = onChange;
        onChange();
    </script>
</body>
</html>