<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="JS/hamburger.js" defer></script>
    <link rel="icon" type="image/x-icon" href="IMG/favicon-black.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="CSS/general.css">
    <link rel="stylesheet" href="CSS/custom.css">
    <link rel="stylesheet" href="CSS/normalize.css">
    <link rel="stylesheet" href="CSS/responsive_grid.css">
    <link rel="stylesheet" href="CSS/alertbanner.css">
    <title>Fermi Notify</title>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="navbar-inner">
            <a class="logo" href="/">
                <img src="IMG/logo-long-white-trasp.png">
            </a>
            <a href="#" class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </a>
            <div class="nav-links">
                <ul>
                    <li>
                        <a href="./dashboard" class="spanHighlight"><span>&gt;</span> Area personale</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- DYNAMIC TEXT -->
    <div class="container-title">
        <div class="container-mid">
            <div class="container-subtitle">
                <p class="main-subtitle1">
                    &gt; inserisci il tag  <br>
                </p>
            </div>
            <div class="container-subtitle">
                <p class="main-subtitle2">
                    &gt; ricevi la notifica  <br>
                </p>
            </div>
            <div class="container-subtitle">
                <p class="main-subtitle3">
                    &gt; rimani aggiornato  <br>
                </p>
            </div>
            <div class="container-subtitle">
                <p class="main-subtitle4">
                    <span style="color: white;">&gt</span> sempre.  
                </p>
            </div>
        </div>
    </div>

    <% if (typeof message !== 'undefined' ) { %>

        <div id="alertbanner" class="successbanner">
            <p id="alertmessage"><i class="fa-solid fa-check"></i> <%= message %></p>
        </div>
        <script>
            document.getElementById("alertbanner").style.animation = "showAlert 0.5s ease-in-out forwards";
        </script>
    <% } %>

    <div class="footer">
        <div>
            <a href="./faq" class="spanHighlight" style="padding-right: 1vw;"><span>&gt;</span> FAQ</a>
            <a href="./credits" class="spanHighlight"><span>&gt;</span> Credits</a>
        </div>
        <p>Questo sito utilizza cookie tecnici</p>
    </div>
</body>
</html>
