<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../IMG/favicon-black.ico">
    <script src="../JS/hamburger.js" defer></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../CSS/custom.css" type="text/css">
    <link rel="stylesheet" href="../CSS/normalize.css" type="text/css">
    <link rel="stylesheet" href="../CSS/responsive_grid.css" type="text/css">
    <link rel="stylesheet" href="../CSS/alertbanner.css" type="text/css">
    <link rel="stylesheet" href="../CSS/general.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95ae55bd9a.js" crossorigin="anonymous"></script>
    
<title>Login · Fermi Notify</title>
</head>
<body>

        <!-- NAVBAR -->
        <nav class="navbar">
            <div class="navbar-inner">
                <a class="logo" href="/">
                    <img src="../IMG/logo-long-white-trasp.png">
                </a>
                <a href="#" class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
                <div class="nav-links">
                    <ul>
                        <li>
                            <a href="./register" class="spanHighlight"><span>&gt;</span> Iscriviti</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

<form id="registerForm" class="loginFormContainer" action="/login" method="POST">
    <h1 class="title"><span style="color: #F29C46;">&gt;</span> login</h1>
    <div class="email inputs">
        <label for="Email" id="email-label">Email</label>
        <input type="email" placeholder="Email" name="email" id="email" required class="input-box">
    </div>
    <div class="psw inputs">
        <label for="Password" id="psw-label">Password</label>
        <div class="psw-bar">
            <input type="password" placeholder="Password" name="password" id="password" required class="input-box">
            <span id="PSWShowHideIcon" onclick="ShowPSW()"><i class="fa-solid fa-eye-slash"></i></span>
        </div>
    </div>
    <div class="confirm">
        <input type="submit" value="Confirm" style="width:100%; height: 100%; background-color: #F29C46; color: white; margin: auto; border-color: #F29C46"/>
    </div>
</form>

<div class="footer">
    <a href="./credits" class="spanHighlight"><span>&gt;</span> Credits</a>
    <p>Questo sito utilizza cookie tecnici</p>
</div>

<script>
    $('input').on('change', function(){ // quando tag input cambia => function()
         if($(this).val()==""){
            $(this).removeClass('inserted');
         }
         if($(this).val()!=""){
            $(this).addClass('inserted');
         }
    });

    $('input').on('focus', function(){
        labelID = this.id + "-label";
        $("#"+labelID).css("color", "var(--highlighted-color)");
        $(this).on("focusout", function() {
            $("#"+labelID).css("color", "#fff");
        });
    });
</script>

<script src="../JS/ShowPSW.js"></script>

</body>
</html>